.container1 {
    background-color: orange;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
}

.container2 {
    background-color: green;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 2;
}